  <footer>
    <section class="social-media">
       <span>
      <a href="https://nl.pinterest.com/moonlightlizaa/">
          <img src="/assets/pinterest.svg" alt="pinterest logo"/>
      </a>
    </span>

    <span>
      <a href="https://www.linkedin.com/in/eliza-lacroes-894a921a1">
          <img src="/assets/linkedin.svg" alt="linkedin logo" />
      </a>
  
    </span>

    <span>
      <a href="https://instagram.com/moonlightlizaa?igshid=YmMyMTA2M2Y=">
        <img src="/assets/instagram.svg" alt="instagram logo" />
      </a>
     
    </span>

     <span>
      <a href="https://open.spotify.com/user/xelizabethhx2?si=bb4548f3ccbd45db">
         <img src="/assets/spotify.svg" alt="spotify logo"/>
      </a>
    </span>
    </section>
   <section class="quote">
      <h2>
        Made with lots of love by eliza lacroes 🌷
      </h2>
   </section>
  </footer>
  </body>
</html>