<%- include('./partials/head') %>

<article>
  <header>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#2c3e50"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
        <path d="M4 16v2a2 2 0 0 0 2 2h2" />
        <path d="M16 4h2a2 2 0 0 1 2 2v2" />
        <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="red"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M15 19v-2a2 2 0 0 1 2 -2h2" />
        <path d="M15 5v2a2 2 0 0 0 2 2h2" />
        <path d="M5 15h2a2 2 0 0 1 2 2v2" />
        <path d="M5 9h2a2 2 0 0 0 2 -2v-2" />
      </svg>
    </button>
  </header>

  <img class="img" src="/assets/eliza-2.png" alt="Creative Coder" />
  <img class="img" src="/assets/eliza-1.png" alt="Creative Coder" />

  <div class="intro">
    <p
      style="
        margin-bottom: 25px;
        padding-bottom: 20px;
        height: 186.5px;
        padding-right: 20px;
        padding-top: 20px;
        padding-left: 20px;
        margin-top: 430px;
        margin-left: 85px;
        margin-right: 85px;
      "
    >
      Hoi! Mijn naam is Eliza. Ik ben 20 jaar en ik woon in Amsterdam.
      <br />
      <br />
      In 2021 heb ik mijn diploma Mediavormgeving gehaald. Hierdoor heb ik
      ervaring met Photoshop, Illustrator en nog veel meer!
    </p>
  </div>

  <div class="foot">
    <dl
      style="
        padding-top: 0px;
        margin-top: 0px;
        padding-right: 20px;
        border-left-width: 20px;
        padding-left: 20px;
        padding-bottom: 45px;
      "
    >
      <dt>HTML</dt>
      <dd>❊❊❊</dd>
      <dt>CSS</dt>
      <dd>❊❊</dd>
      <dt>JavaScript</dt>
      <dd>❊❊</dd>
    </dl>
  </div>
</article>

<%- include('./partials/foot') %>
