/*     
                       custom properties
*/

:root {
  --eliza-dark: #252122;
  --eliza-pink: #dd365e;

  --title-font: 400 2.5em "Poppins", sans-serif;
  --primary-font: 300 1em "Poppins", sans-serif;
  --button-font: 700 1em "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* 
                            MOBILE FIRST 
*/

article {
  margin: 25px;

  display: grid;
  grid:
    "img intro" 0.5fr
    "rating rating" 1fr
    "spotify spotify" 1fr
    / 1fr 1fr;
  gap: 20px;
}

.profile-picture {
  grid-area: img;
}

.profile-picture img {
  border-radius: 15px;
  width: 100%;
}

.intro-text {
  grid-area: intro;
  display: grid;
  grid:
    "title" 0.5fr
    "bio" 1fr
    / 1fr;
  gap: 10px;
}

.intro-text .title {
  grid-area: title;
  font: var(--title-font);
  color: var(--eliza-dark);
}

.intro-text .bio {
  grid-area: bio;
  font: var(--primary-font);
}

.rating {
  grid-area: rating;
  display: grid;
  grid:
    "skills" 1fr
    "github" 25%
    / 1fr;
  gap: 20px;
}

.skills {
  grid-area: skills;
}

.github-link {
  grid-area: github;
}

.github-link a {
  border-radius: 15px;
  color: #ffffff;
  font: var(--button-font);
  background-color: var(--eliza-pink);
  color: #ffffff;
  padding: 14px 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.spotify {
  grid-area: spotify;
}

footer {
  margin: 25px;

  display: grid;
  grid:
    "socials" 1fr
    "quote" 1fr
    / 1fr;
  gap: 20px;
}

.social-media {
  grid-area: socials;
}

.social-media span {
  margin: 25px;
}

.social-media a {
  text-decoration: none;
}

.quote {
  grid-area: quote;
}

.quote h2 {
  font: var(--primary-font);
  text-align: center;
  letter-spacing: 0.04em;
}

/* 
                        Media Queries following
*/

@media (min-width: 30em) {
}
